{% load static %}
<html>
    <head>
        <title>Mdb4.6</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    </head>
    <body>
        <center>
        <h1 class="btn btn-primary">chandu</h1>
        </center>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    </body>
</html>